body{
    margin: 0;
}
.images{
    padding: 50px 0;
}
.container{
    margin: 0 auto;
    width: 960px;
    border: 1px solid;
    overflow: hidden;
}
.img_item{
    box-sizing: border-box;
    float: left;
    padding: 0 3px;
    width: 25%;
}
.img_item img{
width: 100%;
}